
  <div class="product-item">
   <div class="image"><img class="product image" [src]="product.imageUrl" alt="{{ product.name }}"></div>
    <div class="description"><p>{{product.description}}</p></div>
    <div class="rating">
      {{ product.rating }}
      <img class="star" src="https://img.freepik.com/premium-photo/gold-star-with-white-background_585146-314.jpg" alt="Star">
    </div>
    <p class="price">{{ product.price }}</p>
    <div><button class="Share" (click)="share()">Share</button></div>
    <a class="Kaspi" [href]="product.link" target="_blank">Buy on Kaspi.kz</a>
    <div class="bottom">
    <div class="del">
      <button class="delete" (click)="remove()">
      <img class="deleteImg" alt="" src="https://t4.ftcdn.net/jpg/09/63/32/69/360_F_963326953_vCJcoQKgZ1f6TFCAYenHV9QKQ2B3ozOb.jpg">
    </button>
    </div>
    <div class="likee">
      <div class="like-count" *ngIf="likeCount > 0">{{ likeCount }}</div>
      <button class="like" (click)="like()">
      <img class="heart" src="https://t3.ftcdn.net/jpg/01/29/44/82/360_F_129448263_Y2He2t50rR73zgpN8No8cppgnqz4Egxc.jpg">
    </button>
    </div>
    </div>
  </div>
